
/* Definimos que a sidebar terá uma largura de 120px e cor a cord de fundo #222 */
.w3-sidebar{
    width: 120px;
    background: #222;
}

/*Define Fonte para todas as tags listadas abaixo*/
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}

#main {
    margin-left: 120px;
} 
     
/*para criar uma margem abaixo das imagens*/
.w3-row-padding img {
    margin-bottom: 12px;
}

/*faz parte do codigo para barra sair quando for aberta em tela pequena*/
@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0
    }
}
    
